<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MakoIoT.Device" version="1.0.32.25738" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Interface" version="1.0.34.44535" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Mediator" version="1.0.26.61682" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.14.2" targetFramework="netnano1.0" />
  <package id="nanoFramework.DependencyInjection" version="1.0.22" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.63" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.37" targetFramework="netnano1.0" />
</packages>