<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MakoIoT.Device" version="1.0.5.24975" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.DependencyInjection" version="1.0.3.25020" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Interface" version="1.0.3.26226" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Mediator" version="1.0.3.42131" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.12.0" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.25" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.4.0" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.7" targetFramework="netnano1.0" />
</packages>