# .kodiak.toml
# Minimal config. version is the only required field.
version = 1

update.always = true
merge.require_automerge_label = false
merge.method = "squash"
merge.delete_branch_on_merge = true

[approve]
auto_approve_usernames = ["jazzman55"]

[merge.automerge_dependencies]
# only auto merge "minor" and "patch" and "major" version upgrades.
versions = ["minor", "patch", "major"]
usernames = ["jazzman55"]
