<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <packageSources>
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    	<add key="mako-iot" value="https://nuget.pkg.github.com/CShark-Hub/index.json" />
   </packageSources>
   <packageSourceCredentials>
      <mako-iot>
         <add key="Username" value="token" />
         <add key="ClearTextPassword" value="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" />
      </mako-iot>
   </packageSourceCredentials>
</configuration>
