<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mako.nanoFramework.Json" version="2.2.8.1" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device" version="1.0.5.24975" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Displays.Led" version="1.0.4.14975" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Configuration" version="1.0.3.12083" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Configuration.Metadata" version="1.0.4.19171" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.ConfigurationApi" version="1.0.4.7983" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.ConfigurationManager" version="1.0.4.1531" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.DependencyInjection" version="1.0.3.25020" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.FileStorage" version="1.0.4.25519" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Interface" version="1.0.3.26226" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Logging" version="1.0.2.29120" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Mediator" version="1.0.3.42131" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Scheduler" version="1.0.4.29087" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.Server" version="1.0.5.24364" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.WiFi" version="1.0.4.19677" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Services.WiFi.AP" version="1.0.4.14046" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.Invoker" version="1.0.1.17335" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.String" version="1.0.2.14320" targetFramework="netnano1.0" />
  <package id="MakoIoT.Device.Utilities.TimeZones" version="1.0.2.60063" targetFramework="netnano1.0" />
  <package id="nanoFramework.CoreLibrary" version="1.12.0" targetFramework="netnano1.0" />
  <package id="nanoFramework.Hardware.Esp32" version="1.4.4" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.Button" version="1.2.122" targetFramework="netnano1.0" />
  <package id="nanoFramework.Iot.Device.DhcpServer" version="1.2.89" targetFramework="netnano1.0" />
  <package id="nanoFramework.Logging" version="1.1.25" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="1.5.4" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.4.0" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Gpio" version="1.1.22" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Pwm" version="1.0.1" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Device.Wifi" version="1.5.27" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.FileSystem" version="1.1.11" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.15" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net" version="1.10.24" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net.Http" version="1.5.30" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.7" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.8" targetFramework="netnano1.0" />
</packages>